body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Set a background color for the entire page */
}
.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons input[type="file"] {
    display: none;
}

.buttons button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result p {
    font-size: 18px;
    color:red;
    margin: 5px 0;
}

.predicted-image {
    text-align: center;
    margin-top: 20px;
}

.predicted-image img {
    max-width: 200px;
}

.treatment-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.treatment-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
.weather-button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.weather-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}


.refresh-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Decorative Popup Styling */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-content {
    background-color:grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 800px; /* Set the maximum width of the popup */
}

.popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content p {
    font-size: 16px;
    line-height: 1.5;
}
